<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<!-- 사용자 css 추가 -->
<th:block layout:fragment="css">
    <style>
        .fieldError{
            color: #bd2130;
        }
    </style>
</th:block>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(document).ready(function (){
            var errorMessage = [[${errorMessage}]];
            if(errorMessage != null){
                alert(errorMessage);
            }
        })
    </script>
</th:block>

<div layout:fragment="content">
    <form action="/members/new" role="form" method="post" th:object="${memberFormDto}">

    </form>
</div>

</html>